.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../imagens/bg-chocolate.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #fff;
}

.home .content span {
    font-size: 3.5rem;
    color: var(--bg);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.5;
}


/* media queries */

@media (max-width:991px) {

    .home {
        background-position: left;
    }
}

@media (max-width:768px) {

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
}